@model Club_Proyect.Entities.horario_Deporte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>horario_Deporte</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_Socios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantidad_Socios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.socio.NumSocio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.socio.persona.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.socio.persona.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.socio.persona.DNI)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.socios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSocio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.persona.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.persona.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.persona.DNI)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
