@model Paginacion<Club_Proyect.Entities.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Fecha</a>
                </th>
                <th>
                    metodoPago
                    @*@Html.DisplayNameFor(model => model.metodoPago)*@
                </th>
                <th>
                    Renta
                    @*@Html.DisplayNameFor(model => model.Renta)*@
                </th>
                <th>
                    totalVenta
                    @*@Html.DisplayNameFor(model => model.totalVenta)*@
                </th>
                <!--<th>
                    Nombre-->
                @*@Html.DisplayNameFor(model => model.productos.Nombre)*@
                <!--</th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.metodoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Renta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalVenta)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.productos.Nombre)
                        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-value="@(Model.PageIndex - 1)"
       asp-route-currenFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Index"
           asp-route-value="@i"
           class="btn btn-default">
            @i
        </a>
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-value="@(Model.PageIndex + 1)"
       asp-route-currenFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>

</div>