@model Club_Proyect.Entity.Socio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Socio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumSocio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumSocio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngresoClub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngresoClub)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivoOno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivoOno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.DNI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.DNI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.persona.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.persona.FechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
