@model IEnumerable<Club_Proyect.Entity.Socio>

@{
    ViewData["Title"] = "Index";
}

<h1>Socios</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create"> Crear nuevo socio</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngresoClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivoOno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.DNI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngresoClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivoOno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.DNI)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
