@model IEnumerable<Club_Proyect.Entity.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Crear nuevo cliente</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.DNI)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Activo_oNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo_oNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
